<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<title>Mongo Scraper</title>
  {{!-- Bootstrap --}}
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {{!-- Main CSS --}}
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  {{{addCSS}}}
</head>
<body>
<nav class = "navbar navbar-default" role = "navigation">
   <div class = "navbar-header">
      <a class = "navbar-brand" href = "#">MongoScraper</a>
   </div>
   <div>
      <ul class = "nav navbar-nav">
         <li><a href = "#">Home</a></li>
         <li><a href = "#">Saved</a></li>
         <li><a href="#"><button type="button" class="btn btn-danger">Scrape Articles</button></a></li>
      </ul>
   </div>
</nav>
<div class="container">
  {{{body}}}
</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {{!-- Bootstrap --}}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>